.detail {
    .bottom-line {
        border-bottom: 1px solid #eee;
    }
    .user {
        padding: 10px;
        display: flex;
        .headimg {
            padding-right: 10px;
            .pic {
                overflow: hidden;
                display: block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: 1px solid #ddd;
                background-color: #eee;
                background-position: center center;
                background-size: cover;
            }
        }
        .bd {
            flex: 1;
            time {
                padding-left: 10px;
                font-size: 12px;
            }
        }
        .num {
            width: 40px;
            font-size: 13px;
            text-align: right;
        }
    }
    .topic {
        h3 {
            padding: 8px 0;
            font-size: 20px;
            text-align: center;
        }
        .amount {
            padding-bottom: 8px;
            border-bottom: 1px solid #ddd;
            text-align: center;
            font-size: 12px;
            color: #666;
        }
    }
    .markdown-body {
        max-width: 100%;
        margin: 10px;
    }
    .replies-count {
        border-left: 5px solid red;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 6px 0;
        padding-left: 10px;
        em {
            font-style: normal;
            color: red;
        }
    }
    .comment-content {
        margin-top: -10px;
        padding: 0px 30px 0px 50px;
    }
}