<app-header [title]="'我的'">
  <div class="rightContainer">
    <app-sign-out></app-sign-out>
  </div>
</app-header>

<app-content [isFooter]="'true'">

  <div class="user" (click)="toUser()">
    <div class="headimg" :style="{backgroundImage: 'url(' + self.avatar_url + ')'}"></div>
  </div>
  <div class="user-name" (click)="toUser()">你还未登录，请先登录！</div>

  <ul class="list">
    <li>
      <a [routerLink]="['/publish']">
        <div class="icon">
          <i class="iconfont icon-edit"></i>
        </div>
        <div class="text">发表主题</div>
        <div class="arrow">
          <i class="iconfont icon-arrow-right"></i>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['/message']">
        <div class="icon">
          <i class="iconfont icon-msg" style="color: #bd1616;"></i>
        </div>
        <div class="text">我的消息</div>
        <div class="arrow">
          <i class="iconfont icon-arrow-right"></i>
        </div>
      </a>
    </li>
    <li></li>
    <li>
      <a [routerLink]="['/about']">
        <div class="icon" flex="cross:center">
          <i class="iconfont icon-about"></i>
        </div>
        <div class="text">关于</div>
        <div class="arrow">
          <i class="iconfont icon-arrow-right"></i>
        </div>
      </a>

    </li>
  </ul>
</app-content>

<app-navbar [activeName]="'mine'"></app-navbar>