.navbar {
    position: absolute;
    background: #fff;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    height: 49px;
    text-align: center;
    border-top: 1px solid #ddd;
    overflow: hidden;
    ul {
        padding: 4px 0;
        margin: 0;
        display: flex;
        text-align: center;
        font-size: 14px;
        li{
            list-style: none;
            width: 0;
            height: auto;
            flex: 1;
            cursor: pointer;
            &.active {
                i,
                div {
                    color: #d73a49;
                }
            }
            a {
                position: relative;
                display: block;
                text-decoration: none;
                i {
                    display: block;
                    line-height: 24px;
                }
                em {
                    line-height: 16px;
                    font-size: 13px;
                    font-style: normal;
                }
                .count {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    z-index: 2;
                    padding: 1px 4px;
                    line-height: 12px;
                    border-radius: 50%;
                    text-align: center;
                    font-size: 12px;
                    opacity: 0.9;
                    color: #fff;
                    background: red;
                }
            }
        }
    }
}