.login {
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.form {
    display: block;
    width: 70%;
    padding: 0 15%; // margin-top: -50px;
    .line {
        padding: 20px 0;
    }
    .text {
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;
        line-height: 28px;
        border-radius: 5px;
        border: 1px solid #ddd;
        font-size: 14px;
    }
    .btn {
        width: 100%;
        line-height: 38px;
        border-radius: 5px;
        border: 1px solid darken(red, 3%);
        font-size: 14px;
        color: #fff;
        background: red;
    }
}