.tabs {
    background: #fff;
    height: 49px;
    line-height: 49px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    ul {
        margin: 0;
        display: flex;
        text-align: center;
        li {
            position: relative;
            height: auto;
            flex: 1;
            cursor: pointer;
            &.active {
                &:after {
                    content: "";
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 1px;
                    z-index: 1;
                    height: 3px;
                    background: #d73a49;
                }
                a {
                    color: #d73a49;
                }
            }
        }
    }
}