.list {
    overflow: hidden;
    li {
        overflow: hidden;
        padding: 10px;
        height: 50px;
        border-bottom: 1px solid #eee;
        background: #fff;
        cursor: pointer;
        .user {
            display: flex;
            .pic {
                overflow: hidden;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin-right: 10px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .line {
                flex: 1;
                .name {
                    float: left;
                }
                time {
                    float: right;
                }
            }
        }
        .title {
            padding-left: 35px;
        }
    }
}

.list-null {
    line-height: 120px;
    text-align: center;
}