<app-header [title]="'关于'">
  <div class="leftContainer">
    <app-go-back></app-go-back>
  </div>
</app-header>

<app-content>
  <div class="about">
    <dl>
      <dt>前言</dt>
      <dd>
        项目灵感的最初来源是来自
        <a>@lzxb</a>的Vue-cnodejs，感谢cnodejs社区提供的API。
      </dd>
      <dt>源码</dt>
      <dd>
        <a href="https://github.com/ShenBao/angular-cnode" target="_blank">https://github.com/ShenBao/angular-cnode</a>
      </dd>
      <dt>反馈</dt>
      <dd>
        <a href="https://github.com/ShenBao/angular-cnode/issues" target="_blank">https://github.com/ShenBao/angular-cnode/issues</a>
      </dd>
      <dt>版本</dt>
      <dd>
        v 1.0.0
      </dd>
    </dl>
  </div>
</app-content>