.list {
    overflow: hidden;
    padding: 0;
    margin: 0;
    background: #eee;
    li {
        position: relative;
        padding: 15px 15px 0 15px;
        margin-bottom: 15px;
        list-style: none;
        box-shadow: 0 0 5px #ccc;
        background: #fff;
    }
    .top {
        height: 40px;
        display: flex;
        .headimg {
            overflow: hidden;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid #ddd;
            background-position: center center;
            background-size: cover;
            img {
                width: 100%;
            }
        }
        .box {
            flex: 1;
            padding-left: 5px;
            strong {
                line-height: 24px;
                font-size: 16px;
                font-weight: normal;
            }
            time {
                line-height: 16px;
                font-size: 12px;
                font-style: normal;
                color: #aaa;
            }
            .tag {
                margin-left: 4px;
                line-height: 16px;
                font-size: 12px;
                font-style: normal;
                color: #d73a49;
            }
        }
    }
    .tit {
        padding: 10px 0;
        line-height: 22px;
        font-size: 16px;
        font-weight: bold;
    }
}

.expand {
    padding: 10px 0;
    border-top: 1px solid #e1e1e1;
    text-align: center;
    display: flex;
    .item {
        flex: 1;
        padding: 0 10px;
        line-height: 20px;
        text-align: center;
        border-right: 1px solid #e1e1e1;
        &:last-of-type {
            border: none;
        }
        .iconfont {
            color: #aaa;
        }
        .num,
        .time {
            display: inline-block;
            padding-left: 3px;
            font-size: 12px;
            color: #aaa;
        }
        .pic,
        img {
            width: 16px;
            height: 16px;
            background: #e1e1e1;
            background-size: cover;
            background-position: center center;
        }
        .pic {
            overflow: hidden;
            border-radius: 50%;
        }
    }
}