<app-header [title]="'发表主题'">
  <div class="rightContainer" (click)="publishTopic()">
    <i class="icon iconfont icon-edit"></i>
  </div>
</app-header>

<app-content [isFooter]="'true'">
  <div class="publish">
    <form>
      <div class="title">
        <input type="text" placeholder="标题...">
      </div>
      <div class="select">
        <select>
          <option value="">请选择</option>
          <option value="share">分享</option>
          <option value="ask">问答</option>
          <option value="job">招聘</option>
          <option value="dev">开发</option>
        </select>
      </div>
      <div class="con">
        <textarea placeholder="内容..." v-model="form.content"></textarea>
      </div>
    </form>
  </div>
</app-content>

<app-navbar [activeName]="'publish'"></app-navbar>