.icon-edit {
    color: red;
}

.publish {
    form {
        height: 100%;
    }
    .title {
        padding: 5px 10px;
    }
    .select {
        padding: 5px 10px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        select {
            padding: 0;
            border-radius: 5px;
            background: none;
            option {
                width: 80%;
            }
        }
    }
    .con {
        padding: 5px 10px;
        textarea {
            line-height: 24px;
        }
    }
    input,
    select,
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 32px;
        padding: 0 5px;
        line-height: 28px;
        border: none;
        font-size: 14px;
        resize: none;
        border: 0;
        outline: none;
    }
}