/* You can add global styles to this file, and also import other style files */

@import './assets/iconfont/iconfont.css';
@import '../node_modules/github-markdown-css/github-markdown.css';
* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    max-width: 640px;
    margin: 0 auto;
}

html {
    background: #333;
    background: no-repeat center center;
    background-image: linear-gradient(rgba(255, 255, 255, 0) 60%, rgba(187, 2, 195, 0.34)), linear-gradient(70deg, rgba(22, 20, 187, 0.56) 32%, rgba(222, 100, 117, 0.58));
    background-attachment: scroll;
    background-size: cover;
}

.app-loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    max-width: 640px;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #8A2BE2;
    .box {
        width: 400px;
        height: 320px;
        text-align: center;
        color: #fff;
        .line-spin-fade-loader {
            position: relative;
            width: 0;
            margin: 0 auto;
            div {
                background-color: #fff;
                width: 4px;
                height: 35px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                margin: 2px;
                -webkit-animation-fill-mode: both;
                -moz-animation-fill-mode: both;
                -o-animation-fill-mode: both;
                animation-fill-mode: both;
                position: absolute;
                width: 5px;
                height: 15px;
                &:nth-child(1) {
                    top: 20px;
                    left: 0;
                    -webkit-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
                }
                &:nth-child(2) {
                    top: 13.63636px;
                    left: 13.63636px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
                }
                &:nth-child(3) {
                    top: 0;
                    left: 20px;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                    -webkit-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
                }
                &:nth-child(4) {
                    top: -13.63636px;
                    left: 13.63636px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
                }
                &:nth-child(5) {
                    top: -20px;
                    left: 0;
                    -webkit-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
                }
                &:nth-child(6) {
                    top: -13.63636px;
                    left: -13.63636px;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    -webkit-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
                }
                &:nth-child(7) {
                    top: 0;
                    left: -20px;
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    transform: rotate(90deg);
                    -webkit-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
                }
                &:nth-child(8) {
                    top: 13.63636px;
                    left: -13.63636px;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    transform: rotate(45deg);
                    -webkit-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
                    -moz-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
                    -o-animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
                    animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
                }
            }
        }
    }
    h1 {
        margin-top: 50px;
        line-height: 70px;
        font-size: 36px;
    }
    p {
        font-size: 18px;
        span {
            font-weight: 900;
            color: #abf804;
        }
    }
    img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        width: 70%;
    }
    .author {
        margin-top: 50px;
        p {
            a {
                color: #abf804;
            }
        }
    }
}

.app-loading-hide {
    left: 120%;
    bottom: 120%;
    opacity: 0;
}

@-webkit-keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-spin-fade-loader {
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}